[wavedrom, ,svg]
....
{reg:[
  {bits: 22, name: "VPN",  attr: ["X", "R/W"]},
  {bits: 1, name: "",  attr: ["Reset", "R/W"]},
]}
....

[wavedrom, ,svg]
....
{reg:[
  {bits: 1, name: "V",  attr: ["0", "R/W"]},
  {bits: 4, name: "CID",  attr: ["0", "R/W"]},
  {bits: 1, name: "PS",  attr: ["0", "R/W"]},
  {bits: 5, name: "Reserved",  attr: ["X", "R"]},
  {bits: 1, name: "",  attr: ["Reset", "R/W"]},
]}
....
